.footer {
    @include padd(both, half);
    text-align: center;
    background: $black;
    color: $white;

    p {
        margin: 0;
        font-family: $titleFont;
        font-size: 10px;
        @include mq(sm) {
            font-size: 14px;
        }
    }
}
