.home {

    &__hero {
        @include trans();
        padding-top: 22vw;

        @include mq(sm) {
            position: relative;
            padding-top:0;

            &.-open {
                transform: translateX(-32.5%);
            }
        }

        &__col {

            @include mq(sm) {
                height: 45vw;
            }
        }

        &__image {
            @include img($ratio: 120%, $imgheight: 100%, $imgwidth: 100%);

            @include mq(sm) {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-bottom: 0;
                height: auto;

            }
        }

        &__body {

            @include mq(sm) {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                width: 32.5%;
            }
        }

        &__contact {
            background: transparentize($pink, .5);
            padding: 20px;
            font-family: $titleFont;
            color: $white;
            padding: 20px 20px 10px 20px;
            position: absolute;
            top: 48%;
            width: 100%;

            @include mq(sm) {
                position: relative;
                top: 0;
                width: auto;
            }

            &__text {
                font-weight: 700;
                text-align: center;
                padding-bottom: 15px;


                h2 {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 28px;

                    @include mq(sm) {
                        font-size: 2.6vw;
                    }
                }
            }

            &__container {
                display: flex;
                justify-content: space-between;
            }

            &__icon {
                font-size: 46px;
                font-weight: 700;
                display: flex;
                align-items: center;

                @include mq(sm) {
                    font-size: 4vw;

                }
            }

            &__info {

                &__text {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 13px;
                    display: flex;
                    justify-content: flex-end;

                    @include mq(sm) {
                        font-size: 1.25vw;

                    }

                    strong {
                        padding-left: 8px;
                    }
                }

                &__number {
                    margin: 0;
                    color: $white;
                    display: flex;
                    font-size: 32px;
                    margin-top: -8px;

                    @include mq(sm) {
                        font-size: 3vw;
                    }

                    strong {
                        padding-left: 8px;
                    }
                }
            }
        }

        &__video {
            @include img($imgwidth: auto, $imgheight: 100%);

            @include mq(sm) {
                width: 36.5vh;
                height: 35vh;
                position: relative;
                overflow: hidden;
            }
        }
    }

    &__body {

        @include mq(sm) {
            height: 80vh;
        }

        &__col {
            @include mq(sm) {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                overflow: hidden;
            }
        }

        &__who-we-are {
            @include padd(both,half);
            background: $black;
            padding-left: 20px;
            padding-right: 20px;
            flex-grow: 2;

            @include mq(sm) {
                padding: 40px;
            }

            &__title {
                @include title($color: $pink, $background: $white);
                font-weight: 700;
                margin: 0;

                @include mq(sm) {
                    font-size: 32px;
                }
            }

            &__text {
                padding-top: 10px;
            }
        }

        &__article {
            @include padd(both,half);
            background: url('https://picsum.photos/1380/700');
            background-size: cover;
            padding-left: 20px;
            padding-right: 20px;
            flex-grow: 2;
            height: 60vh;

            @include mq(sm) {
                padding: 40px;
                flex-grow: 2;
                height: auto;
            }

            &__title {
                @include title($color: $pink, $background: $black);
                font-weight: 700;
                margin: 0;

                @include mq(sm) {
                    font-size: 32px;

                }
            }

            &__text {
                padding-top: 10px;
                width: 50%;
                font-size: 24px;
            }
        }

        &__wrapper {
            height: 20vh;
            flex-grow: 2;
            position: relative;
            padding: 10px;

            @include mq(sm) {
                height: 40vh;
                padding: 15px;
            }

            &__title {
                @include title($color: $pink);
                font-size: 10px;
                margin: 0;
                font-weight: 700;

                @include mq(sm) {
                    font-size: 18px;
                    margin: 0;

                }
            }

            &__text {
                font-size: 10px;
                padding-top: 10px;

                @include mq(sm) {
                    font-size: 16px;

                }
            }

            &__image {

                @include img($imgheight: 100%, $imgwidth: auto);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-bottom: 0;
                height: auto;
                display: block;
            }
        }
    }

    &__contacto {
        font-family: $titleFont;

        &__image {
            min-height: 100vw;
            @include mq(sm) {
                min-height: 0;
            }

            &__container {
                    @include img($imgheight: 100%, $imgwidth: auto);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding-bottom: 0;
                    height: auto;
            }
        }

        &__data {
            @include padd(top,half);
            display: flex;
            justify-content: center;


            @include mq(sm) {
                @include padd(top);
            }

            &__title {
                @include title($background: $white);
                font-weight: 700;
                font-size: 36px;

                @include mq(sm) {
                    font-size: 42px;
                    left: 40px;
                }
            }


            &--layout {
                background: $pink;

                @include mq(sm) {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        &__number {
            display: flex;
            justify-content: center;

            @include mq(sm) {
        }

            ul {
                display: flex;

            }

            i {
                color: $black;
                font-weight: 700;
                font-size: 28px;

                @include mq(sm) {
                    font-size: 28px;
                }
            }

            &__text {
                color:$white;
                font-weight: 700;
                padding-left: 10px;
                margin:0;
                font-size: 24px;

                @include mq(sm) {

                }
            }
        }

        &__form {
            @include padd(top,half);

            @include mq(sm) {
                @include padd();
                padding-left: 20px;
                padding-right: 80px;
            }

            &__col {
                padding-left: 20px;
                padding-right: 20px;

                @include mq(sm) {
                    display:block;
                    width: 50%;
                    padding-bottom: 50px;
                }
            }

            &__title {
                border-top: 3px solid;
                @include padd();
                font-size: 24px;
                color: $white;
                text-transform: uppercase;

                @include mq(sm) {
                    font-size: 22px;
                    border-top: none;
                }

            }

            &__input {
                display: flex;
                width: 100%;
                background: $pink;
                border: none;
                border-bottom: 2px solid $white;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 40px;
                }

                &::placeholder {
                    color: $white;
                }
            }

            &__button {
                color: $black;
                background: $white;
                font-weight: 700;
                text-transform: uppercase;
                border: none;
                padding: 5px 40px;
                float: right;
                margin-bottom: 60px;

                @include mq(sm) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
