.home {
    &__who-we-are {
        @include mq(sm) {
            display: flex;
            height: 33.334vw;
        }

        &__col {
            display: flex;
            position: relative;

            @include mq(sm) {
                width: 33.34%;
                height: 100%;
            }

            &--internal {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            &--resize {
                height: 100vw;

                @include mq(sm) {
                    height: auto;
                }
            }
        }

        &__about {
            @include padd(both);

            background: $darkestGray;
            padding-left: 8%;
            padding-right: 8%;

            &__title {
                @include title($color: $pink, $background: $white);

                font-weight: 700;
                margin: 0;

                @include mq(sm) {
                    font-size: 2.5vw;
                }
            }

            &__text {
                padding-top: 2.5%;
                color: $lightGray;

                @include mq(sm) {
                    font-size: 1.5vw;
                }
            }
        }

        &__article {
            width: 100%;

            &__image {
                @include img($imgwidth: auto, $imgheight: 100%);

                filter: grayscale(100%);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                padding-bottom: 0;
            }

            &__overlay {
                @include overlay(rgba(255,255,255,.5));
            }

            &__title {
                @include title($color: $pink, $background: $black);
                @include padd(top);

                padding-left: 8%;
                padding-right: 8%;
                font-weight: 700;
                margin: 0;
                z-index: 3;

                &:after {
                    left: auto;
                }

                @include mq(sm) {
                    display: flex;
                    font-size: 2.5vw;
                    flex-grow: 2;
                }
            }

            &__text {
                @include padd(bottom);

                padding-left: 8%;
                padding-right: 8%;
                padding-top: 2.5%;
                font-size: 24px;
                color: $lightGray;
                margin: 0;
                padding-right: 50%;

                @include mq(sm) {
                    display: flex;
                    position: absolute;
                    font-size: 2vw;
                }
            }
        }

        &__wrapper {
            position: relative;
            flex-basis: 50%;
            position: relative;

            &--arrowdown {
                @include arrow(down, $white);
            }

            &--arrowup {
                @include arrow(up, $white);
            }

            &__data {
                padding: 10px;
                height: 100%;

                @include mq(sm) {
                    padding: 5%;
                }
            }

            &__title {
                @include title($color: $pink);

                font-size: 14px;
                margin: 0;
                font-weight: 700;

                @include mq(sm) {
                    font-size: 1.3vw;
                    margin: 0;
                }
            }

            &__text {
                font-size: 14px;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                margin: 0;
                color: $darkGray;

                @include mq(sm) {
                    font-size: 1.2vw;
                }
            }

            &__image {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;

                &--left {
                    background: url('/images/home2.jpg');
                    background-size: cover;
                    background-color: transparentize($darkPink, .2);
                    background-blend-mode: multiply;
                }

                &--right {
                    background: url('/images/home3.jpg');
                    background-size: cover;
                    background-color: transparentize($darkPink, .2);
                    background-blend-mode: multiply;
                }
            }
        }
    }
}
