.header {
    $h: &;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;

    @include mq(sm) {
        position: absolute;
        width: 33.333333%;
        right: 0;
        top: 0;
        bottom: auto;
        left: auto;
        height: 45vw;
    }

    &__main-container {
        background: $black;
        height: 22vw;

        @include mq(sm) {
            height: 6.5vw;
        }
    }

    &__logo {

    }

    &__social {
        display: flex;
        position: absolute;
        left: 50%;
        top: 4.5vh;

        i {
            padding: 0 15px;
            color: $white;
        }
    }

    &__nav {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        height: 78vw;

        @include mq(sm) {
            height: 38.5vw;
            overflow: hidden;
        }

        &__container {
            @include trans;
            transform: translateX(100%);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            background: $black;
            width: 100%;
        }

        &__menu {
            padding-right: 35px;

            a {
                color: $white;
                text-transform: uppercase;
                font-family: $titleFont;
                font-weight: 700;
            }

            li {

                font-size: 14px;
                padding-bottom: 5px;

                @include mq(sm) {
                    font-size: 16px;
                    padding-bottom: 15px;
                }
            }
        }
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 32px;
        z-index: 1000;
        top: 28px;

        @include mq(sm) {
            top: 30px;
        }

        span {
            background-color: $white;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav__container {
            transform: translateX(0);
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
// body Animations
