extends _layouts/base

include ./_modules/slider/slider

block content
    main.home
        section.home__hero
            .container-fluid
                .row.nopadding-selective.flexrow
                    .col-xs-24.nopad-col.home__hero__col
                        .home__hero__image
                            img(src='https://picsum.photos/1580/700')
                        .home__hero__body
                            .home__hero__contact
                                .home__hero__contact__text 
                                    h2 podemos ayudarte

                                .home__hero__contact__container
                                    .home__hero__contact__icon
                                        i.fa.fa-whatsapp
                                    .home__hero__contact__info
                                        p.home__hero__contact__info__text
                                            | contactanos
                                            strong consulta gratuita
                                        p.home__hero__contact__info__number 
                                            | +54911
                                            strong  5802 1696
                            .home__hero__video
                                img(src='https://picsum.photos/1280/700')
                                    

        section.home__body
            .container-fluid
                .row.nopadding-selective.flexrow
                    .col-xs-24.col-sm-8.nopad-col.home__body__col
                        .home__body__who-we-are
                            h2.home__body__who-we-are__title Somos
                            p.home__body__who-we-are__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .col-xs-24.col-sm-8.nopad-col.home__body__col
                        .home__body__article
                            h2.home__body__article__title No te desesperes
                            p.home__body__article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt
                    
                    .col-xs-24.col-sm-8.home__body__col
                        .row.nopadding.flexrow
                            .col-xs-12.col-sm-12.home__body__col
                                .home__body__wrapper
                                    h2.home__body__wrapper__title Consulta gratuita
                                    p.home__body__wrapper__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua.
                                .home__body__wrapper
                                    .home__body__wrapper__image
                                        img(src='https://picsum.photos/1280/700')
                            .col-xs-12.col-sm-12.home__body__col
                                .home__body__wrapper
                                    .home__body__wrapper__image
                                        img(src='https://picsum.photos/1280/700')
                                .home__body__wrapper
                                    h2.home__body__wrapper__title Asesoramiento Profesional
                                    p.home__body__wrapper__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua.
        section.home__contacto
            .container-fluid
                .row.nopadding.flexrow
                    .col-xs-24.col-sm-8.home__contacto__image
                        .home__contacto__image__container
                            img(src='https://picsum.photos/1280/700')
                    .col-xs-24.col-sm-16.home__contacto__data--layout 
                        .home__contacto__form__col
                            .home__contacto__data
                                h2.home__contacto__data__title Contacto
                            .home__contacto__number
                                ul
                                    li
                                        i.fa.fa-whatsapp
                                p.home__contacto__number__text +54911 5802 1696
                        .home__contacto__form__col
                            .home__contacto__form
                                h2.home__contacto__form__title hacenos tu consulta
                                form.home__contacto__form__body
                                    input.home__contacto__form__input(placeholder='Nombre y apellido', type='text')
                                    input.home__contacto__form__input(placeholder='Email', type='email')
                                    input.home__contacto__form__input(placeholder='Telefono', type='phone')
                                    input.home__contacto__form__input(placeholder='Mensaje')
                                    button.home__contacto__form__button Enviar
