extends _layouts/base

include ./_modules/slider/slider
include ./_modules/form/form
include ./_modules/contacto/contacto
include ./_modules/hero/hero

block content
    main.home
        +hero('', 'images/home1.jpg', 'images/home.jpg')
        
        section.home__who-we-are
            .home__who-we-are__col
                .home__who-we-are__about
                    h2.home__who-we-are__about__title Somos
                    p.home__who-we-are__about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

            .home__who-we-are__col
                .home__who-we-are__article
                    img.home__who-we-are__article__image(src='images/home4.jpg')
                    .home__who-we-are__article__overlay
                    h2.home__who-we-are__article__title No te desesperes
                    p.home__who-we-are__article__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt
            
            .home__who-we-are__col.home__who-we-are__col--resize
                .home__who-we-are__col--internal
                    .home__who-we-are__wrapper.home__who-we-are__wrapper--arrowdown
                        .home__who-we-are__wrapper__data
                            h2.home__who-we-are__wrapper__title Consulta gratuita
                            p.home__who-we-are__wrapper__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua.
                    .home__who-we-are__wrapper
                        .home__who-we-are__wrapper__image.home__who-we-are__wrapper__image--left
                .home__who-we-are__col--internal
                    .home__who-we-are__wrapper
                        .home__who-we-are__wrapper__image.home__who-we-are__wrapper__image--right
                    .home__who-we-are__wrapper
                        .home__who-we-are__wrapper__data.home__who-we-are__wrapper--arrowup
                            h2.home__who-we-are__wrapper__title Asesoramiento Profesional
                            p.home__who-we-are__wrapper__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua.

        +contacto
        
